<style>
  .container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: -2%;
  }

  .textOn {
    background: rgba(25, 65, 69, 0.5);
    padding: 7px;
    border-radius: 5px;
  }

  .centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }

  .left {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: left;
  }
  .right {
    position: absolute;
    top: 78%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: right;
  }
</style>
<div class="container" >
  <img src="assets/img/mainback.jpg" alt="Snow" style="width:100%; opacity: 0.5;">
  <div class="centered">
    <div class="textOn">
      <H1>Зачем нужен наш сервис?</H1>
      <Br>
      <H2>Cropper - площадка для реализации сельскохозяйственной продукции. Здесь вы можете продать или купить необходимые вам культуры!</H2>
    </div>
  </div>
  <div class="left">
    <div class="textOn">
      <H1>Почему именно мы?</H1>
      <Br>
      <ul>
        <li>◉ Наш сервис является полностью бесплатным!</li>
        <li>◉ Удобный интерфейс позволит вам быстро освоиться!</li>
        <li>◉ Здесь вы легко сможете купить или продать то, что вам нужно!</li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="textOn">
      <H1>Кто мы?</H1>
      <Br>
      <H2>Группа разработчиков, которая тесно сотрудничает с фермерскими хозяйствами Волгоградской и Воронежской областей.</H2>
    </div>
  </div>
</div>
