<style>
  .container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: -2%;
  }

  .textOn {
    background: rgba(25, 65, 69, 0.9);
    padding: 7px;
    border-radius: 5px;
  }

  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }

</style>
<div class="container" >
  <img src="assets/img/mainback.jpg" alt="Snow" style="width:100%; opacity: 0.5;">
  <div class="centered">
    <div class="textOn">
      <H1>Ошибка 404</H1>
      <Br>
      <H2>Такой страницы не существует!</H2>
      <H3>Возможно, вы перепутали url-адрес</H3>
    </div>
  </div>
</div>

