<style>
  .colorT {
    background-color: #194145;
  }
  a:hover {
    color: #8FAEB0;
  }
</style>

<nav>
  <div class="nav-wrapper colorT">
    <a routerLink="/" class="brand-logo">Cropper</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="login">Вход</a></li>
      <li routerLinkActive="active"><a routerLink="register">Регистрация</a></li>
    </ul>
  </div>
</nav>

<div class="auth-block">
  <router-outlet></router-outlet>
</div>
